<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="cravenT">
    <link rel="icon" th:href="@{~/img/favicon.png}">
    <title>Contact me</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{~/css/form-validation.css}" rel="stylesheet">

</head>

<body class=" text-light" style="background-color: #000000">


<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" th:src="@{~/img/LaurelBoldWhite.png}" alt="" width="72" height="72">
        <h2>Need something else?</h2>
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>

    <div class="row">

        <div class="col-md ">
            <h4 class="mb-3">Contact Me</h4>
           <form id="contactForm" class="needs-validation" method="post" th:object="${callbackForm}" th:action="@{~/callback}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" th:field="*{firstname}" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value=""  th:field="*{surname}" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="emailtelephone">Email or Telephone</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@&nbsp;<i class="fas fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" id="emailtelephone" placeholder="email or telephone" th:field="*{emailtelephone}" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Email or Telephone number is required
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="message">Message (Optional)</label>
                    <textarea type="text" class="form-control" id="message" placeholder="" th:field="*{message}" required></textarea>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg" type="submit">Call me Back</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 <strong>Laurel</strong> Autolease</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!--==================================================-->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{~/js/jquery-slim.min.js}"></script>
<!--  <script>window.jQuery || document.write("<script th:src='/js/jquery-slim.min.js'><\/script>")</script>-->
<script th:src="@{~/js/popper.min.js}"></script>
<script th:src="@{~/js/bootstrap.min.js}"></script>
<script th:src="@{~/js/vue.js}"></script>
<script th:src="@{~/js/holder.min.js}"></script>

</body>
</html>